In [1]:
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime

In [2]:
df = pd.read_excel("C:\\Users\\Montassar\\Desktop\\HR Data analysis projects\\HR Data.xlsx")
df.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,2019-01-17,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2016-02-24,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,2012-05-15,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,2019-01-03,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2016-02-01,0,2

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee_Name               311 non-null    object
 1   EmpID                       311 non-null    int64
 2   MarriedID                   311 non-null    int64
 3   MaritalStatusID             311 non-null    int64
 4   GenderID                    311 non-null    int64
 5   EmpStatusID                 311 non-null    int64
 6   DeptID                      311 non-null    int64
 7   PerfScoreID                 311 non-null    int64
 8   FromDiversityJobFairID      311 non-null    int64
 9   Salary                      311 non-null    int64
 10  Termd                       311 non-null    int64
 11  PositionID                  311 non-null    int64
 12  Position                    311 non-null    object
 13  State                       311 non-null    object
 14  Zip                         311 non-null    int64
 15  DOB                         311 non-null    datetime64[ns]
 16  Sex                         311 non-null    object
 17  MaritalDesc                 311 non-null    object
 18  CitizenDesc                 311 non-null    object
 19  HispanicLatino              311 non-null    object
 20  RaceDesc                    311 non-null    object
 21  DateofHire                  311 non-null    datetime64[ns]
 22  DateofTermination           104 non-null    datetime64[ns]
 23  TermReason                  311 non-null    object
 24  EmploymentStatus            311 non-null    object
 25  Department                  311 non-null    object
 26  ManagerName                 311 non-null    object
 27  ManagerID                   303 non-null    float64
 28  RecruitmentSource           311 non-null    object
 29  PerformanceScore            311 non-null    object
 30  EngagementSurvey            311 non-null    float64
 31  EmpSatisfaction             311 non-null    int64
 32  SpecialProjectsCount        311 non-null    int64
 33  LastPerformanceReview_Date  311 non-null    datetime64[ns]
 34  DaysLateLast30              311 non-null    int64
 35  Absences                    311 non-null    int64
dtypes: datetime64[ns](4), float64(2), int64(16), object(14)
memory usage: 87.6+ KB

In [4]:
df.describe()

,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,...,DOB,DateofHire,DateofTermination,ManagerID,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
count,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,...,311,311,104,303.000000,311.000000,311.000000,311.000000,311,311.000000,311.000000
mean,10156.000000,0.398714,0.810289,0.434084,2.392283,4.610932,2.977492,0.093248,69020.684887,0.334405,...,1979-02-06 09:48:02.315112544,2013-02-03 22:50:32.797427712,2015-06-14 11:46:09.230769152,14.570957,4.110000,3.890675,1.218650,2017-09-10 21:17:56.527331072,0.414791,10.237942
min,10001.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,45046.000000,0.000000,...,1951-01-02 00:00:00,2006-01-09 00:00:00,2010-08-30 00:00:00,1.000000,1.120000,1.000000,0.000000,2010-07-14 00:00:00,0.000000,1.000000
25%,10078.500000,0.000000,0.000000,0.000000,1.000000,5.000000,3.000000,0.000000,55501.500000,0.000000,...,1973-12-03 00:00:00,2011-07-11 00:00:00,2014-01-10 12:00:00,10.000000,3.690000,3.000000,0.000000,2016-03-19 12:00:00,0.000000,5.000000
50%,10156.000000,0.000000,1.000000,0.000000,1.000000,5.000000,3.000000,0.000000,62810.000000,0.000000,...,1980-09-30 00:00:00,2013-02-18 00:00:00,2015-09-22 00:00:00,15.000000,4.280000,4.000000,0.000000,2019-01-16 00:00:00,0.000000,10.000000
75%,10233.500000,1.000000,1.000000,1.000000,5.000000,5.000000,3.000000,0.000000,72036.000000,1.000000,...,1986-05-29 12:00:00,2014-09-23 12:00:00,2016-09-08 06:00:00,19.000000,4.700000,5.000000,0.000000,2019-02-04 00:00:00,0.000000,15.000000
max,10311.000000,1.000000,4.000000,1.000000,5.000000,6.000000,4.000000,1.000000,250000.000000,1.000000,...,1992-08-17 00:00:00,2018-07-09 00:00:00,2018-11-10 00:00:00,39.000000,5.000000,5.000000,8.000000,2019-02-28 00:00:00,6.000000,20.000000
std,89.922189,0.490423,0.943239,0.496435,1.794383,1.083487,0.587072,0.291248,25156.636930,0.472542,...,NaN,NaN,NaN,8.078306,0.789938,0.909241,2.349421,NaN,1.294519,5.852596

In [5]:
df['Department'].nunique()

6

***Data Warehouse Connection***

In [6]:
# PostgreSQL connection parameters
databaseConfig = {
    'dbname': 'HR_DATA_W',
    'user': 'postgres',
    'password': 'pfe',
    'port': '5432',
    'host': 'localhost'
}

In [7]:
# Build the connection string
connection_string = (
    f"postgresql+psycopg2://{databaseConfig['user']}:{databaseConfig['password']}@"
    f"{databaseConfig['host']}:{databaseConfig['port']}/{databaseConfig['dbname']}"
)

In [8]:
# Create the database engine
engine = create_engine(connection_string)

***Transforming then Loading data in data warehouse***

***Dim_Position***

In [9]:
# Extract relevant columns
Dim_Position = df[['Position']].drop_duplicates()

In [10]:
# Load data into Dim_Position table
Dim_Position.to_sql('Dim_Position', con=engine, if_exists='append', index=False)

32

***Dim_Department***

In [11]:
# Extract relevant columns
Dim_Department = df[['Department']].drop_duplicates()

In [12]:
# Load data into Dim_Department table
Dim_Department.to_sql('Dim_Department', con=engine, if_exists='append', index=False)

6

***Dim_Employee***

In [13]:
# Extract the relevant columns
Dim_Employee = df[['Employee_Name', 'DOB', 'Sex','RaceDesc', 'MaritalDesc', 'State', 'CitizenDesc', 'DateofHire', 
                   'RecruitmentSource', 'Position', 'Department', 'EmploymentStatus']].drop_duplicates()

In [14]:
# Convert the DOB column to datetime format and calculate the age by subtracting DOB from today's date
Dim_Employee['DOB'] = pd.to_datetime(Dim_Employee['DOB'])
today = pd.to_datetime('today')
Dim_Employee['Age'] = (today - Dim_Employee['DOB']).dt.days / 365.25
Dim_Employee['Age'] = Dim_Employee['Age'].astype(int)

In [15]:
Dim_Employee[['Employee_Name','Age']].head()

              Employee_Name  Age
0       Adinolfi, Wilson  K   41
1  Ait Sidi, Karthikeyan      49
2         Akinkuolie, Sarah   35
3              Alagbe,Trina   35
4          Anderson, Carol    34

In [16]:
# Create the Attrition column
Dim_Employee['Attrition'] = Dim_Employee['EmploymentStatus'].apply(lambda x: 'Yes' if x != 'Active' else 'No')

In [17]:
# Rename columns to match the data warehouse i created in postgre database
Dim_Employee = Dim_Employee.rename(columns={
    'Sex': 'Gender',
    'RaceDesc': 'Race',
    'MaritalDesc': 'Marital_Status',
    'CitizenDesc': 'Citizen_Description',
    'DateofHire': 'Date_Of_Hire',
    'RecruitmentSource': 'Recruitment_Source'
})

In [18]:
Dim_Employee.columns

Index(['Employee_Name', 'DOB', 'Gender', 'Race', 'Marital_Status', 'State',
       'Citizen_Description', 'Date_Of_Hire', 'Recruitment_Source', 'Position',
       'Department', 'EmploymentStatus', 'Age', 'Attrition'],
      dtype='object')

In [19]:
# Extract relevant columns from the dimension tables
query_position = 'SELECT "Position_ID", "Position" FROM "Dim_Position"'
query_department = 'SELECT "Department_ID", "Department" FROM "Dim_Department"'

df_position_ids = pd.read_sql(query_position, con=engine)
df_department_ids = pd.read_sql(query_department, con=engine)

In [20]:
# Merging Dim_Employee with related dimensions
Dim_Employee = Dim_Employee.merge(df_position_ids, on='Position', how='left')
Dim_Employee = Dim_Employee.merge(df_department_ids, on='Department', how='left')

In [21]:
# Reorder the columns matching the data warehouse structure
Dim_Employee = Dim_Employee[['Employee_Name', 'Age', 'Gender', 'Race', 'Marital_Status', 'State', 'Citizen_Description', 'Date_Of_Hire', 
                             'Recruitment_Source', 'Attrition', 'Position_ID', 'Department_ID']]

In [22]:
# Load data into Dim_Employee table
Dim_Employee.to_sql('Dim_Employee', con=engine, if_exists='append', index=False)

311

***Dim_Termination***

In [23]:
# Extract relevant columns
Dim_Termination = df[['TermReason', 'DateofTermination', 'Employee_Name']].drop_duplicates()

In [24]:
Dim_Termination.count()

TermReason           311
DateofTermination    104
Employee_Name        311
dtype: int64

In [25]:
# Retrieve needed columns that i loaded in the data warehouse for the join
query = 'SELECT "Employee_ID", "Employee_Name" FROM "Dim_Employee"'
df_employee_ids = pd.read_sql(query, con=engine)

In [26]:
# Rename columns
Dim_Termination = Dim_Termination.rename(columns={
    'TermReason': 'Termination_Reason',
    'DateofTermination': 'Termination_Date'
})

In [27]:
# Merge Projects data with employee IDs based on 'Name'
Dim_Termination = Dim_Termination.merge(df_employee_ids, on='Employee_Name', how='left')

In [28]:
# Reorder the columns matching the data warehouse structure
Dim_Termination = Dim_Termination[['Termination_Reason', 'Termination_Date', 'Employee_ID']]

In [29]:
# Load data into Dim_Termination table
Dim_Termination.to_sql('Dim_Termination', con=engine, if_exists='append', index=False)

311

***Fact_Salary***

In [30]:
# Extract relevant columns
Fact_Salary = df[['Employee_Name', 'Salary']].drop_duplicates()

In [31]:
# Retrieve needed columns
query_employee = 'SELECT "Employee_ID", "Employee_Name" FROM "Dim_Employee"'

df_employee_ids = pd.read_sql(query_employee, con=engine)

In [32]:
# Merge Fact_Salary with Dim_Employee by Employee_Name
Fact_Salary = Fact_Salary.merge(df_employee_ids, on='Employee_Name', how='left')

In [33]:
# Reorder the columns matching the data warehouse structure
Fact_Salary = Fact_Salary[['Employee_ID', 'Salary']]

In [34]:
# Load data into Fact_Salary table
Fact_Salary.to_sql('Fact_Salary', con=engine, if_exists='append', index=False)

311

***Fact_Employee_Performance***

In [35]:
# Extract relevant columns
Fact_Employee_Performance = df[['Employee_Name', 'TermReason', 'EngagementSurvey','EmpSatisfaction','SpecialProjectsCount','DaysLateLast30','Absences']].drop_duplicates()

In [36]:
# Extract relevant columns from the dimension tables for the join
query_employee = 'SELECT "Employee_ID", "Employee_Name" FROM "Dim_Employee"'
query_termination = 'SELECT "Termination_ID", "Employee_ID" FROM "Dim_Termination"'

df_employee_ids = pd.read_sql(query_employee, con=engine)
df_termination_ids = pd.read_sql(query_termination, con=engine)

In [37]:
# Rename columns
Fact_Employee_Performance = Fact_Employee_Performance.rename(columns={
    'TermReason': 'Termination_Reason',
    'EngagementSurvey': 'Engagement_Survey_Score',
    'EmpSatisfaction': 'Employee_Satisfaction',
    'SpecialProjectsCount': 'Special_Projects_Count',
    'DaysLateLast30': 'Days_Late_Last_Month'
})

In [39]:
# Merge Fact_Employee_Performance with dimension tables
Fact_Employee_Performance = Fact_Employee_Performance.merge(df_employee_ids, on='Employee_Name', how='left')
Fact_Employee_Performance = Fact_Employee_Performance.merge(df_termination_ids, on='Employee_ID', how='left')

In [40]:
# Reorder the columns matching the data warehouse structure
Fact_Employee_Performance = Fact_Employee_Performance[['Employee_ID', 'Termination_ID', 'Engagement_Survey_Score', 'Employee_Satisfaction', 'Special_Projects_Count', 'Days_Late_Last_Month', 'Absences']]

In [41]:
# Load data into Fact_Employee_Performance table
Fact_Employee_Performance.to_sql('Fact_Employee_Performance', con=engine, if_exists='append', index=False)

311